<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.epitest.runner.LaunchConfigurationDelegate"
            id="org.epitest.runner.launchConfigurationType"
            modes="run"
            name="PiTest Muatation Test">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.epitest.runner.LaunchConfigurationTabGroup"
            id="org.epitest.runner.launchConfigurationTabGroup"
            type="org.epitest.runner.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.epitest.runner.LaunchShortcut"
            id="org.epitest.runner.shortcut"
            label="Epitest"
            modes="run">
        <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
                     <adapt type="org.eclipse.jdt.core.IJavaElement">
		                <test property="org.eclipse.jdt.core.isInJavaProject"/>
		                <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
		              	<!--
		                <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
		             	-->
		             </adapt>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>    
            
      </shortcut>
   </extension>
   <extension
         id="org.epitest.mutationmarker"
         name="Mutation marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.epitest.mutationmarker"
            name="org.epitest.mutationmarker">
      </type>
   </extension>
<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.epitest.mutationmarker"
            colorPreferenceKey="org.epitest.mutationmarker.color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="org.epitest.mutationmarker.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Epitest Marker"
            overviewRulerPreferenceKey="org.epitest.mutationmarker.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="org.epitest.mutationmarker.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="org.epitest.mutationmarker.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
</plugin>
